name: Auto update profile

on:
  schedule:
    - cron: "*/15 * * * *"   # 15分ごとに実行
  workflow_dispatch:          # 手動実行ボタンを出す

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install Chrome
        uses: browser-actions/setup-chrome@v1

      - name: Run script
        env:
          MEDICI_USER: ${{ secrets.MEDICI_USER }}
          MEDICI_PASSWORD: ${{ secrets.MEDICI_PASSWORD }}
        run: |
          python main.py
